<div class="font-sans">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block text-sm text-gray-700 text-center font-semibold">
                    Sign In
                </label>
                
                <%= form_with url: sign_in_path do |form|%>
                  <div class="mt-7">               
                    <%= form.text_field :email , placeholder:"Email", class: "mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"%>
                  </div>

                  <div class="mt-7">               
                    <%= form.password_field :password , placeholder:"Password", class: "mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"%>
                  </div>
    
                    <div class="mt-7">
                    <%= form.submit "Sign In", class: "bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105" %>
                    </div>
        
                <% end %>
            </div>
        </div>
    </div>
</div>